@model PagedList.IPagedList<ForumMater2.Models.Post>
@using ForumMater2.Models
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // xử lý
    ClubForumEntities db = new ClubForumEntities();
    User user = ViewBag.User;
    string url_avatar = ViewBag.Url + "/assets/images/avatars/" + user.Avatar;
    string url__avatar_group = ViewBag.Url + "/assets/images/avatars/" + user.Avatar;
}

<nav class="row container-fluid mt-md-5 mt-0 w-100 m-0 p-0">
    <!-- Left Body -->

    <nav class="boder border-bottom-1 d-none d-sm-block col-md-2 col-0 offset-md-1 p-0 left_body">

        <!-- Left Body P1 -->
        <div class="w-100 m-0 header_left_body"></div>
        <div class="imgbackgound_left_body" id=""></div>
        <img src="@url_avatar" class="rounded-circle p-0 m-0 img_left_body">
        <div class="border border-1 container-fluid text-center pt-5">
            <h4 class="p-0 m-0 mb-2 mt-3">@user.FirstName @user.LastName</h4>
        </div>
        <div class="border border-1 border-top-0 container-fluid text-center pt-2">
            <p>Câu lạc bộ tham gia</p>
            <p> 2 <p>
        </div>
        <div class="border border-1 border-top-0 container-fluid text-center pt-2 pb-2">
            <a href="/User/MyProfile" class="text-danger text-decoration-none">Xem trang cá nhân</a>
        </div>
        <!-- End Left Body P1 -->
        <!-- Left Body P2 -->
        <div class=" border border-1 mt-5 container-fluid text-left pt-2 pb-2">
            <span>Đề xuất</span>
            <a href="/User/CreateClub" class="float-right">Tạo câu lạc bộ</a>
        </div>
        <div class=" border border-1 border-bottom-0 container-fluid text-left pt-2 pb-2 pr-0">
            @{
                List<Club> list_clubs = db.Clubs.ToList(); // còn xử lý tiếp
                List<Club> list_club_parti = db.UserClubRoles.Where(m => m.UserID == user.ID).Select(m => m.Club).ToList();
                List<Club> list_clubs_not_parti = list_clubs.Take(7).Except(list_club_parti).ToList();
                foreach (Club item in list_clubs_not_parti)
                {
                    <div class="mt-2 justify-content-center row">
                                    <div class="m-0 p-0 col-md-2">
                                        <img src="@ViewBag.Url/assets/images/clubs/covers/@item.CoverPhoto" class="rounded-circle p-0 img_clb" />
                                    </div>
                        <div class="m-0 p-0 col-md-6 text_clb" id="">
                            <a href="#" class="text-decoration-none text-dark m-0">@item.Name</a>
                        </div>
                        <div class="m-0 p-0 col-md-2">
                            <button type="submit" class="border border-1 m-0 float-right mr-1 icon_insert" id=""><h4>+</h4></button>
                        </div>
                    </div>
                                            }

            }
            <div class="pl-5 pt-4">
                <a href="group.html" class="text-danger text-decoration-none pl-1">Xem thêm</a>
            </div>
        </div>
    </nav>
    <!-- End Left Body -->

    <!-- Center Body -->
    <nav class="col-12 w-100 col-md-5 ml-md-5 m-0 p-0" style="box-sizing: border-box;">
        <!-- Post a posts -->
        <nav class="nav_post_posts">
            <div class="d-inline">
                <img src="@url_avatar" alt="Avatar" class="avatar_post_posts rounded-circle">
            </div>
            <div class="d-inline ml-2">
                <span>Bạn đang nghĩ gì ?</span>
            </div>
            <div class="d-inline float-right mt-md-1">
                <a href="/User/CreatePost" class="btn btn-info">Đăng bài</a>
            </div>

        </nav>

        <!-- Post -->
        <nav class="container-fluid mt-md-3 w-100 nav_posts pt-md-2 pt-2">
            @foreach (var item in Model)
            {
                <div class="d-inline mt-2 p-md-1 m-md-1 p-1 m-1 rounded-circle w-100">
                    <img src="@ViewBag.UrlAva/@item.User.Avatar" alt="Avatar" class="avatar_post rounded-circle">
                </div>
                <div class="d-inline p-md-1 m-md-1 p-1 m-1">
                    <span><a href="UseInfo.html" style="text-decoration: none; color: inherit;"><b class="mr-md-2 mr-2">@item.User.FirstName @item.User.LastName</b>&#10148;</a></span>
                    <span><a href="groupofme.html" style="text-decoration: none; color: inherit;"><b>@item.Club.Name</b></a></span>
                </div>
                <hr class="mt-1 mb-0">
                <!-- nội dung bài đăng -->
                <nav class="container-fluid ml-2 mt-md-3 mt-2">
                    <div class="title-post">
                        <a href="#">@item.Title</a>
                    </div>
                    <div class="text-time">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="text-muted">@item.DateTimeCreated.ToString("dd/MM/yyyy HH:mm:ss")</span>
                    </div>
                </nav>              
            }
        <div class="my-3">
            @Html.PagedListPager(Model, page => Url.Action("Home", new { page }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new List<string> { "page-item", "page-link" },
                    UlElementClasses = new List<string> { "pagination" },
                    ContainerDivClasses = new List<string> { "pagination-container", "text-center" }
                })
        </div>

        </nav>
    </nav>
    <!-- End center body -->
    <nav class="col-0 col-md-2 ml-md-5 p-0 w-100 d-sm-block d-none">
        <div class="border border-1">
            <div class="img-thumbnail m-1">
                <img src="@ViewBag.Url/assets/images/default/logo_1.png" class="w-100">
            </div>
        </div>
        <div class="border border-1 mt-0">
            <div class="d-flex justify-content-center border border-0 border-bottom-1 pt-2 pb-2" style="background-color:  #7ed6df">
                Tìm kiếm
            </div>
            <div class="input-group p-2">
                <input type="search" placeholder="Nhập từ bạn cần tìm?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link btn-light text-dark"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="border border-1 mt-5">
            <div class="d-flex justify-content-center border border-0 border-bottom-1 pt-2 pb-2" style="background-color:  #7ed6df">
                Các câu lạc bộ tham gia
            </div>
            @{
                foreach (ForumMater2.Models.Club item in list_club_parti)
                {
                    <div class=" mt-4 justify-content-center row">
                                    <div class="m-0 p-0 col-md-2">
                                         <img src="@ViewBag.Url/assets/images/clubs/covers/@item.CoverPhoto" class="rounded-circle p-0 img_clb" />
                                    </div>
                        <div class="m-0 p-0 col-md-6" id="text_clb">
                            <a href="#" class="text-decoration-none text-dark m-0">@item.Name</a>
                        </div>
                    </div>
                }
            }
        </div>

    </nav>
</nav>


@section scripts{

}

