@using ForumMater2.Models
@model User
@{
    ViewBag.Title = "Trang cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="@ViewBag.Url/assets/css/user/setting.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css" rel="stylesheet">
}
<nav class="w-100 row m-0 my-3 p-0">
    <ul class="ml-md-5 col-md-3 col-12 bg-light border col-md-3 nav nav-tabs flex-column" id="panesl">
        <li class="navbar-brand text-center font-weight-bold ml-5">Cài đặt</li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-decoration-none ml-3" data-toggle="tab" href="#home"><i class="fas fa-user-circle"></i>&nbsp;Thay đổi ảnh</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-decoration-none ml-3" data-toggle="tab" href="#menu1"><i class="fas fa-globe"></i>&nbsp;Thông tin cá nhân</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-decoration-none ml-3" data-toggle="tab" href="#menu2"><i class="fas fa-lock"></i>&nbsp;Thay đổi mật khẩu</a>
        </li>
        <li class="nav-item border-bottom" id="sign-out">
            <p class="nav-link text-decoration-none ml-3" data-toggle="modal" data-target="#message-signout" style="cursor:pointer;">
                <i class="fas fa-outdent"></i>&nbsp;Đăng xuất
            </p>
        </li>
    </ul>
    <!--Model thông báo-->
    <div class="modal fade" id="message-signout" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn đăng xuất không ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-info" id="btn-ok">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>
    <!--Hết model-->
    <!-- right panes -->
    <div class="col-md-7 col-12  tab-content ml-md-5 mt-md-0 mt-5 m-0 p-0" id="panesr">
        <div class="tab-pane bg-light container border active m-0 p-0" id="home">
            <form class="form m-3" id="form0">
                <div class="v border-bottom">
                    <label class="label font-weight-bold ml-3">Thay đổi ảnh</label>
                </div>
                <div class="form-group mt-2 row m-0 p-0 justify-content-center">
                    <div class="col-6 text-center">
                        <div class="text-left">
                            Thay đổi ảnh
                        </div>
                        <div id="container" style="width:150px; height:150px; background-color:white; text-align:center;"></div>
                        <div class="mt-5 text-left">
                            <input type="file" placeholder="Thay đổi ảnh" id="croppie-input" accept="image/*" />
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info my-4" id="submit-image">Cập nhật thông tin </button>
                </div>

            </form>
        </div>
        <div class="tab-pane container fade bg-light border px-5" id="menu1">
            <form class="was-validated" id="form2" action="/User/MyProfile2" method="post">
                <div class="v border-bottom">
                    <label class="label font-weight-bold m-3">Thông tin cá nhân</label>
                </div>
                <div class="row p-0 m-0 justify-content-between mt-3">
                    <div class="form-group1 col-3 p-0">
                        <label for="first-name" class="a font-weight-bold">Họ của bạn</label>
                        <input type="text" class="form-control" name="first-name" value='@Model.FirstName' required />
                        <div class="valid-feedback">Hợp lệ.</div>
                        <div class="invalid-feedback">Vui lòng điền vào trường này.</div>
                    </div>
                    <div class="form-group1 col-3 p-0">
                        <label for="last-name" class="a font-weight-bold">Tên của bạn</label>
                        <input type="text" class="form-control" name="last-name" value="@Model.LastName" required />
                        <div class="valid-feedback">Hợp lệ.</div>
                        <div class="invalid-feedback">Vui lòng điền vào trường này</div>
                    </div>
                    <div class="form-group1 col-3">
                        <label for="gender" class="a font-weight-bold d-block">Giới tính</label>
                        <div class="form-check d-inline mr-5">
                            @{
                                if (Model.Gender)
                                {
                                    <input class="form-check-input" type="radio" id="gender1" name="gender" value="true" checked />
                                }
                                else
                                {
                                    <input class="form-check-input" type="radio" id="gender1" name="gender" value="true" />
                                }
                            }
                            <label class="form-check-label" for="gender1">
                                Nam
                            </label>
                        </div>
                        <div class="form-check d-inline">
                            @{
                                if (!Model.Gender)
                                {
                                    <input class="form-check-input" type="radio" id="gender2" name="gender" value="false" checked />
                                }
                                else
                                {
                                    <input class="form-check-input" type="radio" id="gender2" name="gender" value="false" />
                                }
                            }
                            <label class="form-check-label" for="gender2">
                                Nữ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0 justify-content-between">
                    <div class="form-group1 col-5 p-0">
                        <label for="dob" class="a font-weight-bold">Ngày sinh của bạn</label>
                        <input type="date" class="form-control" name="dob" required value="@Model.DateOfBirth.Date.ToString("yyyy'-'MM'-'dd")">
                        <div class="valid-feedback">Hợp lệ.</div>
                        <div class="invalid-feedback">Vui lòng điền vào trường này</div>
                    </div>
                    <div class="form-group1 col-5 p-0">
                        <label for="phone" class="a font-weight-bold">Số điện thoại</label>
                        <input type="text" maxlength="11" minlength="9" class="form-control" placeholder="Ví dụ : 0977777777" value="@Model.Phone" name="phone" />
                        <div class="valid-feedback">Hợp lệ</div>
                        <div class="invalid-feedback">Vui lòng điền vào trường này</div>
                    </div>
                </div>
                <div class="form-group1">
                    <label for="address" class="a font-weight-bold">Địa chỉ</label>
                    <input type="text" class="form-control" placeholder="Ví dụ : Nha Trang, Khánh hòa" value="@Model.Address" name="address" />
                    <div class="valid-feedback">Hợp lệ.</div>
                    <div class="invalid-feedback">Vui lòng điền vào trường này</div>
                </div>
                <div class="form-group1">
                    <label for="workplace" class="a font-weight-bold">Nơi làm việc - học tập</label>
                    <input type="text" class="form-control" placeholder="Công ty ABC" value="@Model.Workplace" name="workplace" />
                    <div class="valid-feedback">Hợp lệ.</div>
                    <div class="invalid-feedback">Vui lòng điền vào trường này</div>
                </div>
                <button type="submit" class="btn btn-info mt-3 mb-3">Cập nhật thông tin </button>
            </form>
        </div>
        <div class="tab-pane container fade bg-light border" id="menu2">
            <form class="" id="form3">
                <div class="v border-bottom">
                    <label class="label font-weight-bold ml-2 mt-2">Thiết lập tài khoản</label>
                </div>
                <div class="form-group m-4">
                    <label for="current-pass" class="a font-weight-bold">Mật khẩu hiện tại:</label>
                    <input type="password" class="form-control" placeholder="Mật khẩu hiện tại" id="current-pass" name="current-pass" />
                    <span class="form-message text-danger"></span>
                </div>
                <div class="form-group m-4">
                    <label for="new-pass" class="a font-weight-bold">Mật khẩu mới:</label>
                    <input type="password" class="form-control" placeholder=" Mật khẩu mới" id="new-pass" name="new-pass" />
                    <span class="form-message text-danger"></span>
                </div>
                <div class="form-group m-4">
                    <label for="re-pass" class="a font-weight-bold">Nhập lại mật khẩu:</label>
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" id="re-pass" name="re-pass" />
                    <span class="form-message text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info font-weight-bold ml-4 mb-3">Lưu thay đổi</button>
                <button type="reset" class="btn btn-info font-weight-bold mb-3 ml-3">Làm mới</button>
            </form>
        </div>
    </div>
</nav>

@section scripts{
    <script src="~/assets/js/log/dangnhap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>
    <script>
        $(document).ready(function () {
            var changeImg = false;
            var croppieDemo = $('#container').croppie({
                enableOrientation: true,
                viewport: {
                    width: 150,
                    height: 150,
                    type: 'square' // or 'circle'
                },
            });
            croppieDemo.croppie('bind', {
                url: '@ViewBag.Url/assets/images/users/avatars/@Model.Avatar'
            });
            $('#croppie-input').on('change', function () {
                var reader = new FileReader();
                changeImg = true;
                reader.onload = function (e) {
                    croppieDemo.croppie('bind', {
                        url: e.target.result
                    });
                }
                reader.readAsDataURL(this.files[0]);
            });
            $('#submit-image').on('click', function (ev) {
                ev.preventDefault();
                croppieDemo.croppie('result', {
                    type: 'base64',
                    size: 'viewport',
                    format: 'jpeg'
                }).then(function (image) {

                    if (changeImg) {
                        var formData = new FormData();

                        // name , ima_base64
                        formData.append('avatar', image);
                        var request = new XMLHttpRequest();
                        request.open("POST", "/User/MyProfileA");
                        request.send(formData);
                        window.location.href = "/User/MyProfile";
                    }
                });
            });

            Validator({
                form: '#form3',
                formGroupSelector: '.form-group',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired('#current-pass', 'Không để trống trường này'),
                    Validator.isRequired('#new-pass', 'Không để trống trường này'),
                    Validator.isRequired('#re-pass', 'Không để trống trường này'),
                    Validator.minLength('#current-pass', 8),
                    Validator.minLength('#new-pass', 8),
                    Validator.isConfirmed('#re-pass', function () {
                        return document.querySelector('#new-pass').value;
                    }, 'Mật khẩu nhập lại không chính xác')
                ],
                onSubmit: function (data) {
                    var formdata = new FormData();
                    formdata.append('current-pass',data["current-pass"]);
                    formdata.append('new-pass',data["new-pass"]);
                    formdata.append('re-pass',data["re-pass"]);
                    
                    $.ajax({
                        url: '@Url.Action("ChangePassword", "User")',
                        dataType: "json",
                        type: "POST",
                        //contentType: 'application/json; charset=utf-8',
                        contentType: false,
                        data: formdata,
                        processData: false,
                        cache: false,
                        success: function (json) {
                            if (json) {
                                alert("Cập nhật thành công");
                                $('#current-pass').val('');
                                $('#new-pass').val('');
                                $('#re-pass').val('');
                            }
                            else {
                                alert("Cập nhật không thành công, mật khẩu nhập vào không đúng");
                            }
                        },
                        error: function (xhr) {
                            alert('error');
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $('#btn-ok').click(function (e) {
            e.preventDefault();
            window.location.href = "/Log/SignOut";
        });
    </script>
}

