@using ForumMater2.Models
@model Administrator
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}
<style>
    .ver {
        line-height: calc(1.5em + 0.75rem + 2px);
        height: calc(1.5em + 0.75rem + 2px);
    }
</style>
<div class="row justify-content-between m-0 px-4">
    <div class="col-5">
        <h5>Thông tin cá nhân</h5>
        <form id="form1">
            <div class="row m-0 form-group">
                <div class="col-4 ver">ID</div>
                <div class="col-8"><input type="text" class="form-control" readonly value="@Model.ID" /></div>
            </div>
            <div class="row m-0 mt-3 form-group">
                <div class="col-4 ver">Tên đăng nhập</div>
                <div class="col-8"><input type="text" class="form-control" readonly value="@Model.AdministratorName" /></div>
            </div>
            <div class="row m-0 mt-3 form-group">
                <div class="col-4 ver">Họ tên</div>
                <div class="col-8"><input type="text" class="form-control" value="@Model.FullName" id="full-name" name="full-name" /></div>
                <span class="form-message"></span>
            </div>
            <div class="row m-0 mt-3 form-group">
                <div class="col-4 ver">Email</div>
                <div class="col-8"><input type="email" class="form-control" value="@Model.Email" id="email" name="email" /></div>
                <span class="form-message"></span>
            </div>
            <div class="row m-0 mt-3 form-group">
                <div class="col-4 ver">Ngày lập tài khoản</div>
                <div class="col-8"><input type="text" class="form-control" readonly value="@Model.DateCreated.ToString("dd/MM/yyyy")" /></div>
            </div>
            <div class="row m-0 mt-3 form-group">
                <div class="col-4 ver">SĐT</div>
                <div class="col-8"><input type="text" class="form-control" value="@Model.Phone" id="phone" name="phone" /></div>
                <span class="form-message"></span>
            </div>
            <div class="row m-0 mt-3 form-group">
                <div class="col-4 ver">Mức truy cập</div>
                <div class="col-8"><input type="text" class="form-control" readonly value="@Model.Level" /></div>
            </div>
            <div class="row m-0 mt-3">
                <button class="btn btn-info" id="update-info">Cập nhật</button>
            </div>
        </form>
    </div>
    <div class="col-5">
        <h5>Đổi mật khẩu</h5>
        <form class="w-50 my-5" id="form2">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập mật khẩu cũ" id="oldpass" />
                <span class="form-text text-danger d-none">Nhập hơn 8 kí tự</span>
                <span class="form-text text-success d-none">Hợp lệ</span>
                <span class="form-text text-danger d-none" id="pass">Mật khẩu không đúng</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập mật mới" id="newpass" />
                <span class="form-text text-danger d-none">Nhập hơn 8 kí tự</span>
                <span class="form-text text-success d-none">Hợp lệ</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập lại mật khẩu" id="repass" />
                <span class="form-text text-danger d-none">Mật khẩu chưa khớp</span>
                <span class="form-text text-success d-none">Hợp lệ</span>
            </div>
            <button class="btn btn-info" id="update-password">Đổi mật khẩu</button>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/assets/js/log/dangnhap.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Validator({
                form: '#form1',
                formGroupSelector: '.form-group',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired('#full-name', 'Không để trống trường này'),
                    Validator.isRequired('#phone', 'Không để trống trường này'),
                    Validator.isEmail('#email'),
                ],
                onSubmit: function (data) {
                    var formdata = new FormData();
                    formdata.append('full-name',data["full-name"]);
                    formdata.append('phone', data["phone"]);
                    formdata.append('email', data["email"]);
                    $.ajax({
                        url: '@Url.Action("UpdateProfile", "Admin")',
                        dataType: "json",
                        type: "POST",
                        //contentType: 'application/json; charset=utf-8',
                        contentType: false,
                        data: formdata,
                        processData: false,
                        cache: false,
                        success: function (json) {
                            alert(json);
                        },
                        error: function (xhr) {
                            alert('Rất tiếc - đã bị lỗi');
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $('.tabf').removeClass('active');
            var active = $('.tabf').eq(4);
            active.addClass('active');

            var valNewPass = false;
            var valOldPass = false;
            var valRePass = false;

            $('#oldpass').blur(function () {
                var oldPass = $('#oldpass');
                oldPass.next().addClass('d-none');
                oldPass.next().next().addClass('d-none');
                if (oldPass.val().length < 8) {
                    oldPass.next().removeClass('d-none');
                    valOldPass = false;
                }
                else {
                    oldPass.next().next().removeClass('d-none');
                    valOldPass = true;
                }
            });

            $('#newpass').blur(function () {
                var newPass = $('#newpass');
                newPass.next().addClass('d-none');
                newPass.next().next().addClass('d-none');
                if (newPass.val().length < 8) {
                    newPass.next().removeClass('d-none');
                    valNewPass = false;
                }
                else {
                    newPass.next().next().removeClass('d-none');
                    valNewPass = true;
                }
            });

            $('#repass').blur(function () {
                var rePass = $('#repass');
                rePass.next().addClass('d-none');
                rePass.next().next().addClass('d-none');
                if (rePass.val() != $('#newpass').val() || rePass.val().length == 0) {
                    rePass.next().removeClass('d-none');
                    valRePass = false;
                }
                else {
                    rePass.next().next().removeClass('d-none');
                    valRePass = true;
                }
            });
            $('#update-password').click(function (e) {
                e.preventDefault();
                if (valNewPass && valOldPass && valRePass) {
                    var newpass = $('#newpass').val();
                    var password = $('#oldpass').val();
                    $.ajax({
                        url: '@Url.Action("ChangePassWord", "Admin")',
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ old_password : password, new_password: newpass }),
                        success: function (data) {
                            if (data) {
                                $('#newpass').val('');
                                $('#oldpass').val('');
                                $('#repass').val('');
                                alert("Cập nhật mật khẩu thành công");
                            }
                            else {
                                alert("Mật khẩu chưa đúng - xin vui lòng kiểm tra lại");
                            }
                        },
                        error: function (err) {
                            alert('Đã xảy ra lỗi - Rất tiếc');
                        }
                    });
                }
            });
        });
    </script>
}
